* {
   margin : 0  ;
     padding : 0 ;
box-sizing : border-box ;
   font-family : Arial, sans-serif ;
}
body {
    background : #eaf6f8 ;
   color : #123 ;
       line-height : 1.6 ;
}

.navbar {
    background : #0f5c5c ;
 color  : white ;
    display: flex;
 justify-content : space-between ;
    align-items: center ;
       padding : 18px 8% ;
  position: sticky ;
  top : 0; 
   z-index : 1000 ;
} 

.logo {
    font-size : 1.5rem ;
  font-weight : bold  ;
}

.navbar nav a {
    color : white ;
   text-decoration : none;
margin-left : 20px;
    font-size : 1rem ;
       transition  : 0.4s ; 
}

.navbar nav a:hover {
   color : #7fe9dc ;
}

.hero {
      background: linear-gradient(rgba(8, 107, 134, 0.85), rgba(15, 76, 94, 0.85)), url("images/image1.jpg");
background-size : cover ;
   background-position : center ;
  color : white ;
text-align : center ;
    padding : 112px 20px ;
}

.hero-content {
   max-width : 800px ;
  margin  : auto ;
}

.hero-content h1 {
    font-size : 3rem ;
  margin-bottom : 19px ;
}

.hero-content p {
    font-size : 1.1rem ;
  margin-bottom  : 29px ;
}

.btn {
    display : inline-block;
   background : #7fe9dc;
color : #0f3c6c ;
  padding : 13px 27px ;
   text-decoration : none ;
  border-radius: 9px;
font-weight : bold ;
   transition : 0.4s ;
}

.btn:hover {
    background : #a5f0e8 ;
}